@using System.Linq;
@model List<FBT.MVC.Models.ExpenseModel>


<h2>Recurring Expenses</h2>

<a href="/RecurringExpense/Create">Create</a>

<table class="table table-responsive">
    <tr>
        <td>Date</td>
        <td>Price</td>
        <td>Type</td>
        <td>
            Actions
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PaymentDate</td>
            <td>@item.Amount</td>
            <td>@item.ExpenseType</td>
            <td>
                <a href="/Expense/Edit/@item.Id">Edit</a>
                <a href="/Expense/Delete/@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>