@model FBT.MVC.Models.BudgetModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Your current budget is: <strong>@Html.DisplayFor(model => model.CurrentBudget)</strong>!</p>
</div>
